.mat-primary{
    width: 100%; height: 100%; font-size: 5em !important;
}
.mat-accent{
    width: 100%; height: 100%; font-size: 5em !important;

}
.mat-warn{
    width: 100%; height: 100%; font-size: 5em !important;
}
